
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #f4f7ff;
}

main{
flex: 1;
margin-left: 350px; /* mesma largura da sidebar */
padding: 40px;
box-sizing: border-box;
display: flex;
width: 100%;
display:flex;
flex-direction:column;
}

header{
/* background-color: blue; */
display:flex;
align-items: center;
justify-content: space-between;
padding: 10px 60px;
.ig{

/* ////////////////////////////////// */
    .popup {
        display: inline-block;
        position: relative;
        text-rendering: optimizeLegibility;
      }
      .popup input {
        display: none;
      }

      .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.125em;
        height: 3.125em;
        border-radius: 50%;
        /* background: #00bf63; */
        border: none;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.1s ease-in-out;
        outline: 0.125em solid transparent;
      }
      
      .burger:hover {
        transform: scale(1.1);
      }
      
      .burger:active {
        transform: scale(0.95);
      }

      .popup-window {
        position: absolute;
        top: calc(3.125em + 0.25em);
        left: -6rem;
        padding:  10px 10px;
        width: fit-content;
        background: #eee;
        color: #333;
        font-family: "Poppins", sans-serif;
        border-radius: 12px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        transform: scale(0.8);
        visibility: hidden;
        opacity: 0;
        transition: all 0.1s ease-in-out;
        margin-top: 10px;
      }
      
      .popup input:checked ~ .popup-window {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      }
      
      .popup-window legend {
        margin: 0;
        padding: 0.25em 1rem;
        font-size: 0.625em;
        color: #777;
        text-transform: uppercase;
      }
      
      .popup-window ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .popup-window button {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        font-size: 16px;
        color: #333;
        background: none;
        border: none;
        border-radius: 0.375em;
        column-gap: 0.875em;
        cursor: pointer;
        outline: none;
        white-space: nowrap;
        transition: background 0.2s, color 0.2s;
      }
      
      .popup-window button:hover {
        /* height: fit-content; */
        background: #cdcdcd;
        color: #000000;
      }
      
}
}

.items1{
    display:flex;
    justify-content: center;
    width:100%;
    /* background-color: purple; */
    padding: 20px 60px;
    /* height: 100%; */
    gap: 50px;
}
.box{
    width: 38%;
    display:flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    background-color: #814bff;
    border-radius:50px;
    font-size: 100px ;
} 
.act{font-size: 22px;}

.choose{
    width:50%;
    height: 100%;
    /* background-color: #4a5fc8; */
    height: 100%;
    padding: 50px;
    padding-top: 10px;
}

.inbox{
    display: flex;
    flex-direction:column;
    margin: 15% 0px; 
    /* padding: 3 0px;   */
    font-size: 24px;
}

.item2{
    margin-top: 50px;
    display: flex;
    gap:5%;
    width: 100%;
}

.char{
  width: 100%;
  max-width: 350px;  
  height: 180px;
  /* padding: 0px 70px; */
  background: #f7f8fc;
  display:flex;
  justify-content: space-evenly;
  align-items: center; 
  border-radius: 25px;
  border: 4px solid #bebebe41;
}
.char span{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  font-size: 24px
}
.char button{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 14px 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: none;
}

.char button{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 14px 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: none;
}
.char button{
  display: flex;
  /*flex-direction: column;*/
  flex-direction: row;
  margin: 5px 0;
  padding: 14px 14px;
  font-size: 18px;

  /**/
  font-weight: bold;
  gap: 10px;
  /**/
  border-radius: 10px;
  border: none;
  background: #c8f8b5;
  transition: .4s;
}

.char button:hover{
  background: #8bf960;
}
