body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background: #ffa6005d;
}

.main {
  flex: 1;
  margin-left: 350px; 
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
/*  */
.input {
    width: 50%;
    min-width:250px;
    background-color: #fdedd4;
    height: 65px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #95743f;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    position: sticky;
    font-size: 18px;
  }
  
  .input:hover {
    border: 2px solid #cd8518;
    box-shadow: 0px 0px 20px -10px #bb4343;
  }
  .input:active { transform: scale(0.95); }
  .input:focus { border: 2px solid #4c2b07;}

  .inbox{
    width:100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top:40%;
    }
    .box{
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top:120px;
    }
    .res{
      min-width:220px;
      background-color: #fff4df;
      width:50%;
      padding: 10px 25px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      box-shadow: -10px 3px 0 #e0ad4f;
      margin: 10px 10px;
      font-size: 20px;
    }
    .res button{ font-size:18px; padding: 10px; border: none; background: none; border-radius:20px;transition: .3s;}
    .res button:hover{ background: #f8af61; transition: .3s;}
    .res button:active{ background: #e39542;}