*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1.25px;
}

html, body{
	height: 100%;
	width: 100%;
}

#jogPage1{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: red;
	
}

.progress{
	width: 100%;
	padding: 	20px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	gap: 30px;
}

.progressBar{
	width: 100%;
	height: 25px;
	border-radius: 30px;
	background: #DDDDDF;
	
}
.progressBar div{
	height: 100%;
	width: 10%;
	max-width: 100%;
	border-radius: inherit;
	background: #21CC26;
	transition: width 1s;
}
.heart{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: yellow;*/
}
.heart svg, .heart small{
	position: relative;
}

.heart small{
	right: 50%;
	font-weight: bolder;
	color: white;
}

.gamingSection{
	width: 100%;
	height: 100%;

	background: /*yellow*/ white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.gamingSectionText{
	font-weight: bolder;
	font-size: 25px;
	padding: 10px 70px 10px;
	width: 100%;
	color: #888;
}

.gamingSectionWord{
	font-weight: bolder;
	font-size: 25px;
	padding: 	10px;
	width: 17%;
	max-width: 420px;
	/*box-shadow: -3px 3px 0 5px #A9A9A9;*/
	/*box-shadow: 0px 0px 0 2px #C2C3C7;*/
	border: solid 2px #C2C3C7;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #A9A9A9;
	cursor: pointer;
}
.gamingSectionWordPair{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 70px;
}

.gamingSectionSelectedWord{
	box-shadow: -3px 3px 0 5px #81BDF9;
	color: #81BDF9;
}

.buttonSection{
	width: 100%;
	height: 100px;
	background: white;
	border-top: solid 2.5px #D6D9DE;
	padding: 	20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttonSection .button{
	font-weight: bolder;
	font-size: 25px;
	padding: 	10px 30px;
	box-shadow: -1.5px 1px 0 3.5px #A9A9A9;
	border-radius: 13px;
	display: flex;
	align-items: center;
	color: #A9A9A9;
	cursor: pointer;
}

.buttonSection .verifyButton{
	box-shadow: -1.5px 1px 0 3.5px #81BDF9;
	color: #81BDF9;
}

.buttonSection .disabledButton{
	box-shadow: -1.5px 1px 0 3.5px #FFF;
	color: #A9A9A9;
	background: #EAEBEF;
	border: solid 2px #A9A9A9;
}