@import url(cores_admin.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
html, body {
    width: 100%;
    height: 100%; 
}


body{ 
    transition: filter 0.3s ease;
    }

img{width: 250px;}

.headeradmin{
   /* background-color: antiquewhite; */
   padding: 35px 20px;
   /* width: 100%; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
}

.conta{ 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 20%;
    }

.conta span{margin: 10px; }


.conta button{
    padding: 12px 14px  10px;
    background-color: White;
    border: 2px solid #9f9f9f;
    border-radius: 8px;
}

.divider{
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 80px 0 80px;
  align-items: center;
}

.divider button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    border:none;
    background-color: transparent;
    transition: background-color 0.3s; 
}

.line{ 
    width :4px;
    height: 60px;
    background-color: black;
    margin: 0 20px 0;
}

.divider div{ margin: 20px; }

.selection{ 
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    border-bottom: 2px solid #9f9f9f;
    /* background-color: burlywood; */
}

/*.lb-pf span:last-of-type{
  padding: 10px 20px  10px;
  background-color: White;
  border: 2px solid #9f9f9f;
  border-radius: 8px;
 }*/

 .lb-pf select{
    padding: 10px 20px  10px;
    border: 2px solid #9f9f9f;
    border-radius: 8px;
   }
   
   .lb-pf select option{color: black; }
   .lb-pf select:focus, .lb-pf select:hover { 
    outline: none;
    color: #8a8a8a;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(141, 141, 141, 0.1);
    transition: .3s;
    }

.lb-pf button{
    padding: 12px 14px  10px;
    background-color: White;
    border: 2px solid #9f9f9f;
    border-radius: 8px;
   }


.lb-search{ 
    display:flex; 
    align-items: center;  
    padding: 0 10px 0;
    margin: 15px;
}

.sp {padding: 0 30px 0;}

.lb-choose{ display:flex;}

.lb-choose button, .row button{
     padding: 12px 30px  10px; 
     margin-left: 10px;
     border-radius: 8px;
     background-color: #000000;
     color: white;
     border: none;

    }

.lb-choose input{
    padding: 12px 14px  10px; 
    border-radius: 8px;
}
   .input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {color: #9e9ea7;}
   
   .input:focus, input:hover {
    outline: none;
    color: #8a8a8a;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(141, 141, 141, 0.1);
   }
   
.row{ 
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 26px;
   
    margin: 15px 0 15px;
}
.row button{ width: 150px;}

.row div{
    background-color: #ebebeb;
    border-left: 3px solid; 
    border-right: 3px solid;
    display:flex;
    align-items: center; 
    justify-content: center; 
    width: 15%;
    height: 40px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1001;
    width: 60%;
    padding: 90px 30px;
    height: fit-content;
    box-sizing: border-box; /* Garante que padding não aumente a altura */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
    display: none;
    z-index: 999;
    backdrop-filter: blur(8px); /* Aplica desfoque */
    display: none;
    transition: 2s;
}

.pop{
width: 100%;
justify-content: space-between;
display: flex;
}
.inputpop{
/* background-color: aquamarine; */
width: 100%;
height: 40px;
padding-left: 1rem;
padding-right: 1rem;
/* border: 2px solid transparent; */
border-radius: 8px;
outline: none;
color: #8a8a8a;
margin: 0 4px 0;
}

 input:focus, input:not(:placeholder-shown) {
    border: 2px solid #e5e5e5;
    background: white;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25); 
 }
 .btn-pop{
    padding: 10px 20px  10px;
    border-radius: 8px; 
    /* border:none; */
    border: 2px solid #e5e5e5;
    background: white;
    
}
.pop-btn button:nth-of-type(1) {
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25); 
}

.pop-btn button:nth-of-type(2) {
    background-color: #ff8686;
    border-color:#ff7e7e ;
    color: #8e2c2c;
}

/* botão dos botões */
.active-button {
    background-color: #EEEEEE !important;;
    color: #7a7a7a;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}