@import url(admin1.css);
@import url(cores_admin.css);

.container {
    width: 90%;
    margin: 20px;
    /* background-color: #f5f5f5; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.box1, .box2 {
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}

.inner-box {
    width: 90%;
    margin: 10px auto;
    padding: 30px;
    margin: 20px 0px 20px;
    border-radius: 5px;
    background-color: #717272;
    color: white;
    /* transition: .3s ; */
}
.inner-box:hover{
    transition: .3s ;
    background-color: #484747;
}